/*
    Author: TrendyTheme
    Template: I AM X
    Version: 1.2
    URL: http://demo.trendytheme.net/iamx/html
*/


/*
====================================
------------------------------------
    1. General
    2. Typography
    3. Home
    4. Navigation
    5. About
    6. Portfolio
    7. Artwork
    8. Resume
    9. Skill
    10. Chart
    11. Footer
-------------------------------------
=====================================
*/
/* 렌즈 */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

/* 서울알림폰트 */
@font-face {
    font-family: 'SeoulAlrimTTF-Heavy';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2505-1@1.0/SeoulAlrimTTF-Heavy.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

body {
    font-family: "Pretendard Variable";
    line-height: 28px;
    font-weight: 300;
    font-size: 14px;
    color: #282828;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-overflow-scrolling: touch;
    -webkit-font-smoothing: antialiased !important;
    position: relative;
}

body,
html {
    overflow-x: hidden;
}

/* Link style
---------------------------------------------------------*/

a,
a>* {
    outline: none;
    cursor: pointer;
    text-decoration: none;
}

a:focus,
a:hover {
    outline: none;
    color: #333333;
    text-decoration: none;
}


/* Transition elsements
-------------------------------------------------------- */
.navbar a,
.form-control {
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

a,
.btn {
    -webkit-transition: all 0.125s ease-in-out 0s;
    -moz-transition: all 0.125s ease-in-out 0s;
    -ms-transition: all 0.125s ease-in-out 0s;
    -o-transition: all 0.125s ease-in-out 0s;
    transition: all 0.125s ease-in-out 0s;
}

/* Reset box-shadow
/* ------------------------------------------------------ */

.btn,
.form-control,
.form-control:hover,
.form-control:focus,
.navbar-custom .dropdown-menu {
    -webkit-box-shadow: none;
    box-shadow: none;
}




/* === Typography === */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
}

h1 {
    font-size: 36px;
    line-height: 36px;
}

h2 {
    font-size: 30px;
    line-height: 30px;
}

h3 {
    font-size: 24px;
    line-height: 24px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 12px;
}



/* === FORM STYLE === */
.form-control {
    height: 45px;
    background-color: #f7f7f7;
    border: 1px solid #e8e8e8;
    border-radius: 0;
    box-shadow: none;
}

.form-control:focus {
    border-color: #68c3a3;
    box-shadow: none;
}




/* Alert Style
-----------------------------------------------------*/
.alert {
    padding: 10px 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 0;
}

.alert strong {
    display: inline-block !important;
    margin: 0 !important;
}



/* BUTTON STYLE
-----------------------------------------------------*/
/*common-btn*/
.btn {
    border: 0;
    border-bottom: 3px solid;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 28px;
    padding: 9px 22px;
}

/*large-btn*/
.btn-lg,
.btn-group-lg>.btn {
    padding: 14px 20px;
    font-size: 14px;
    border-radius: 4px;
}

/*btn-primary*/
.btn-primary {
    background-color: #68c3a3;
    border-color: rgba(51, 51, 51, 0.15);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #4eb28f;
    border-color: #4eb28f;
}

/*btn-info*/
.btn-info {
    background-color: #52b3d9;
    border-color: rgba(51, 51, 51, 0.15);
}

.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active,
.open>.dropdown-toggle.btn-info {
    color: #fff;
    background-color: #4aa0c2;
    border-color: #4aa0c2;
}

/*btn-default*/
.btn-default {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active {
    color: #68c3a3;
    background-color: #fff;
    border-color: #fff;
}


button:focus {
    outline: none;
}


/*IMAGES*/
img {
    width: 100%;
}

hr {
    margin-top: 15px;
    margin-bottom: 15px;
}

.no-padding {
    padding: 0;
}

/* LIST STYLE
-------------------------------------------------- */
ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none
}

ul.list-check li {
    position: relative;
    top: -15px;
    font-size: 18px;
    padding: 3px 20px;
    transition: 0.5s ease;
    cursor: default;
    color: #7dcafa;

}

.list-check li::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #7ECBFA;
    border-radius: 999px;
    /* pill shape */
    opacity: 0;
    transition: opacity 0.3s;
    z-index: -1;
}

.list-check li:hover::before {
    opacity: 1;
}

.list-check li:hover {
    color: #fff;
    font-weight: 600;
}


/* === MAIN === */
.section-padding {
    padding: 100px 0 100px;
}


/* SECTION TITLE
----------------------------------------------------- */
.section-title {
    margin-bottom: 13px;
    font-size: 48px;
    line-height: 50px;
    color: #7ECBFA;
    position: relative;
    font-family: 'SeoulAlrimTTF-Heavy';
}

.section-subtitle {
    margin-bottom: 0.2em;
    font-size: 32px;
    font-family: 'SeoulAlrimTTF-Heavy';
    text-transform: capitalize;
    letter-spacing: -1px;
}


#home {
    -webkit-background-attachment: fixed;
    background-attachment: fixed;
    background-color: #222;
    background-size: cover;
    padding: 0;
    position: relative;
}

.bg-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bg-img {
  display: none;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.butterfly1 {
    position: absolute;
    left: 50%;
    margin-left: -1350px;
    top: 9%;
    width: 700px;
    z-index: 1001;
    animation: floatUpDown 3s ease-in-out infinite;

}

.butterfly2 {
    position: absolute;
    right: 50%;
    margin-right: -1150px;
    top: 8%;
    width: 650px;
    z-index: 1001;
    animation: floatUpDown 3s ease-in-out infinite;
}

.intro {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    text-align: center;
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    padding: 0 15px;
}

.intro h1 {
    font-size: 60px;
    line-height: 80px;
    margin-bottom: 16px;
    color: #52b3d9;
}

.intro h1 span {
    color: #68c3a3;
}

.intro p {
    color: #f7f7f7;
    margin-bottom: 40px;
}

.intro-sub {
    color: #fff;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
    margin-bottom: 20px;
}


/* === NAVIGATION === */
.header {
    border-bottom: 1px solid #eee;
    position: relative;
    width: 100%;
    z-index: 1000;
    padding-bottom: 1px;
    background: #fff;
}

.header::after {
    border-bottom: 1px solid #eee;
    width: 100%;
    position: absolute;
    content: "";
    height: 2px;
    bottom: 1px;
    left: 0;
}

.navbar-custom {
    border: 0;
    border-radius: 0;
    margin: 0;
    text-transform: uppercase;
    font-family: "Pretendard Variable";
}


.navbar-custom,
.navbar-custom .dropdown-menu {
    background: #fff;
    padding: 0;
}

.navbar-custom ul li a span {
    margin-left: 5px;
}

.navbar-custom .dropdown-menu {
    margin-top: 10px;
    display: block;
    visibility: hidden;
    opacity: 0;
    border: 1px solid #ddd;
    border-top: 2px solid #68c3a3;
    border-radius: 0;
    border-bottom: 3px double #ddd;
    background-color: #FFFFFF;
    -webkit-transition: all 400ms;
    -moz-transition: all 400ms;
    -o-transition: all 400ms;
    transition: all 400ms;
}

.nav-flex {
    display: flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

/* 왼쪽 아이콘 메뉴 */

#custom-collapse {}

#custom-collapse::before,
#custom-collapse::after {
    display: none;
}

.nav-container {
    display: flex;
    background-color: #7ECBFA;
    border-radius: 50px;
    align-items: center;
    gap: 30px;
    padding: 5px 20px;
}

.nav-text {
    color: #fff;
    transform: translateX(10px);
}


.icon-wrapper {
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.circle {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s ease;
    z-index: 1;
}

#typing-name {
    width: 120px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: text-bottom;
    /* 또는 baseline, text-bottom 등으로 실험 */
    line-height: 1;
    font-size: 35px;
    color: #7ECBFA;
    transform: translateX(14px);
}

#typing-name::after {
    content: '';
    border-right: 2px solid #7ECBFA;
    animation: blink 0.8s step-end infinite;
}

@keyframes blink {

    0%,
    100% {
        border-color: transparent;
    }

    50% {
        border-color: #7ECBFA;
    }
}

.icon {
    width: 18px;
    z-index: 2;
    stroke: #7ECBFA;
    /* 필요 시 색상 조절 */
    transition: stroke 0.3s ease;
}

.icon-wrapper:hover .circle {
    transform: scale(1.2);
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.3);
}

.navbar-left {
    display: flex;
}

.navbar-right .dropdown-menu {
    right: auto;
    left: 0;
}

.navbar-custom .navbar-nav>li:hover .dropdown-menu {
    display: block;
    opacity: 1;
    visibility: visible;
    margin-top: -2px;
}

.navbar-custom .navbar-nav>li>a {
    color: #282828;
    font-size: 14px;
    font-weight: 400;
    padding-top: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
}

.navbar-custom .dropdown-menu>li {
    border-bottom: 1px solid #F0F0F0;
}

.navbar-custom .dropdown-menu>li:last-child {
    border-bottom: 0;
}

.navbar-custom .dropdown-menu>li>a {
    padding: 10px 20px;
    color: #282828;
    font-size: 14px;
    font-weight: 700;
}

/* 호버시 효과 */

.navbar-right a:before,
.navbar-right a:after {
    display: inline-block;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s;
}

.navbar-right a:before {
    margin-right: 10px;
    content: '[';
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    transform: translateX(20px);
}

.navbar-right a:after {
    margin-left: 10px;
    content: ']';
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    transform: translateX(-20px);
}

.navbar-right a:hover:before,
.navbar-right a:hover:after,
.navbar-right a:focus:before,
.navbar-right a:focus:after,
.navbar-right .active a:before,
.navbar-right .active a::after {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
    color: #7ECBFA;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .navbar-nav>li.active>a {
    background: none;
    outline: 0;
    color: #7ECBFA;
    font-weight: 700;
}

.navbar-custom .navbar-brand {
    font-weight: 700;
    font-size: 18px;
}


.navbar-custom .nav .open>a,
.navbar-custom .dropdown-menu>li>a:hover,
.navbar-custom .dropdown-menu>li>a:focus {
    background: #f5f5f5;
}

.navbar-custom .navbar-toggle .icon-bar {
    background: #222;
}


.dia {
    width: 20px;
}


/* === About Section === */
.short-info {
    margin-bottom: 40px;
}

.short-info h3 {
    margin-bottom: 30px;
}

.short-info ul {
    margin-top: 10px;
    display: inline-block;
}

.short-info ul li {
    float: left;
}

.name-blue {
    font-weight: 700;
    color: #7ECBFA;
    margin-right: 12px;
}

.blank {
    margin: 0 30px;
}

.my-signature {
    margin-bottom: 45px;
}

.my-signature img {
    width: inherit;
}

.short-info .info {
    display: flex;
    margin-bottom: 30px;
}


/*download-button*/
.download-button a {
    margin-right: 20px;
    color: #fff;
}

.download-button a i {
    margin-right: 10px;
}


.myphoto img {
    position: relative;
    z-index: -1;
    border-radius: 50%;
    max-width: 300px;
}

.col-md-8 {
    padding-left: 20px;
}

/* ★ 포트폴리오 섹션 */
/* === Portfolio Section === */
.blog-post-wrapper {
    padding: 10px;
    margin-bottom: 30px;
    overflow: hidden;
}

.blog-post-wrapper .img-responsive {
    padding: 0;
    border-radius: 10px;
}

.entry-title {
    padding: 30px 0 20px;
}

.entry-title p {
    padding-top: 10px;
    line-height: 22px;
}

.button {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.button a {
    border: 1px solid #7ECBFA;
    color: #7ECBFA;
    padding: 5px 20px;
    border-radius: 50px;
}

.button a:hover {
    background-color: #7ECBFA;
    color: #fff;
}

.foflex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.foflex h3 {
    color: #7ECBFA;
}

/*
Icon for all respective meta
====================================== */
.the-time::before {
    content: "\f133";
}

.the-time {
    position: relative;
    padding-left: 20px;
}

.the-time::before {
    font-family: FontAwesome;
    position: absolute;
    left: 0;
}

.fa-home:before {
    font-size: 22px;
}

.fa-mobile:before {
    font-size: 30px;
}

/* ★ 아트워크 */
/* === Artwork Section === */
#artwork .container {
    position: relative;
}

.star1 {
    position: absolute;
    width: 107px;
    left: -5%;
    top: -60px;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.rotating-image {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    width: 86px;
    animation: spin 10s linear infinite;
    margin-top: 20px;
}

.image-wrapper {
    display: flex;
    justify-content: flex-end;
}

.snsbox {
    overflow: hidden;
    margin-bottom: 50px;
}

.portfolio-item {
    padding-right: 5px;
    padding-left: 5px;
    min-height: 235px;
}

.portfolio {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}


.portfolio img {
    transition: transform 0.6s ease;
    /* 부드럽게 확대 */
}

.portfolio:hover img {
    transform: scale(1.1);
    /* 10% 확대 */
}

.tt-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.portfolio-info,
.links,
.links a i,
.links a i::after,
.tt-overlay {
    -webkit-transition: all 400ms;
    -moz-transition: all 400ms;
    -o-transition: all 400ms;
    transition: all 400ms;
}


.links {
    width: 90px;
    height: 40px;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-top: -20px;
    margin-left: -45px;
    opacity: 0;
    -webkit-transform: translate(0, -50px);
    -moz-transform: translate(0, -50px);
    -ms-transform: translate(0, -50px);
    -o-transform: translate(0, -50px);
    transform: translate(0, -50px);
    text-align: center;
}

/* 컨텍 섹션 : 시작 */

#contact {
    padding: 150px 0;
    background: url(../images/contact-bg.png) no-repeat center center;
    background-size: cover;
}

.contact-section .section-title {
    margin-bottom: 100px;
}

.contact-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
    padding-left: 0;
    margin: 0 auto;
    list-style: none;
    max-width: 892px;
}

.contact-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.contact-wrapper {
    position: relative;
}

.contact-circle {
    position: relative;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #7ECBFA;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    margin-bottom: 16px;
}

.contact-list h4 {
    color: #7ECBFA;
    margin-bottom: 8px;
}

.blur-circle {
    position: absolute;
    width: 50px;
    height: 50px;
    background: #7ECBFA;
    border-radius: 50%;
    filter: blur(20px);
    opacity: 0.3;
    z-index: 1;
    top: -10%;
    left: -10%;
    animation: breathe 3s ease-in-out infinite;
}

@keyframes breathe {
    0% {
        transform: scale(1);
        opacity: 0.3;
    }

    50% {
        transform: scale(1.15);
        opacity: 0.6;
    }

    100% {
        transform: scale(1);
        opacity: 0.3;
    }
}

/* 컨텐츠 임시 */

.links i {
    position: relative;
    color: #68c3a3;
    font-size: 16px;
    margin: 0 13px;
    z-index: 100;
}

.links i {
    color: #fff;
}

.links i::after {
    position: absolute;
    content: "";
    left: -7px;
    top: -7px;
    width: 30px;
    height: 30px;
    border: 1px solid #68c3a3;
    z-index: -1;
    border-radius: 3px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.links i::after {
    background-color: #68c3a3;
}

#portfolio {
    padding: 100px 0 0;
}

.portfolio-info {
    position: absolute;
    bottom: -100%;
    left: 0;
    background-color: #7ECBFA;
    color: #fff;
    height: 45px;
    width: 100%;
    text-align: center;
}

.portfolio:hover .tt-overlay,
.portfolio:hover .links {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}

.portfolio:hover .portfolio-info {
    bottom: 0;
}

.portfolio-info h3 {
    font-size: 14px;
    line-height: 45px;
    font-weight: 700;
    margin: 0;
}

.portfolio img {
    height: 100%;
    object-fit: cover;
}

/* === Popup Section === */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1050;
    display: none;
}

.popup_in {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.popup_in2 {
    width: 90%;
    max-width: 750px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.popup_in i {
    position: absolute;
    top: -60px;
    right: 0%;
    font-size: 50px;
    color: #fff;
    cursor: pointer;
}

.popup_in2 i {
    position: absolute;
    top: -60px;
    right: 0%;
    font-size: 50px;
    color: #fff;
    cursor: pointer;
}

/* ★ 타임라인 */
/* === Resume Section === */

/*---------------------------------------------------------
Resume Timeline
-----------------------------------------------------------*/
#resume .section-title {
    margin-bottom: 150px;
}

.resume-title h3 {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    color: #7ECBFA;
}

.resume-section>div>div {
    margin-bottom: 60px;
}

.resume-section>div>div:nth-of-type(2) {
    margin-bottom: 0;
}

.license {
    position: relative;
}

.education {
    position: relative;
}

.objects {
    position: absolute;
    width: 200px;
    top: 100px;
    left: -450px;
}

.objects1 {
    position: absolute;
    width: 300px;
    top: -200px;
    right: -400px;
}


.resume-icon {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.Edu-icon::before {
    content: '';
    position: absolute;
    top: -100px;
    /* 선이 아이콘 위에서 얼마나 떨어질지 */
    width: 2px;
    height: 77px;
    /* 선 길이 */
    background-color: #7ECBFA;
}

.resume-title {
    margin-bottom: 30px;
}

.timeline {
    position: relative;
    padding: 0;
    list-style: none;
}

.timeline-panel h3 {
    font-size: 20px;
}

.resume {
    position: relative;
}

/* .resume:before {
    content: "";
    position: absolute;
    top: -8px;
    width: 10px;
    height: 10px;
    background-color: #7ECBFA;
    left: 50%;
    margin-left: -6px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
} */

.resume:after {
    content: "";
    position: absolute;
    bottom: -8px;
    width: 10px;
    height: 10px;
    background-color: #7ECBFA;
    left: 50%;
    margin-left: -6px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.timeline:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    margin-left: -1.5px;
    background-color: #7ECBFA;
}

.timeline>li {
    position: relative;
    margin-bottom: 50px;
    min-height: 50px;
}

.timeline>li:before,
.timeline>li:after {
    content: " ";
    display: table;
}

.timeline>li:after {
    clear: both;
}

.timeline>li .timeline-panel {
    float: left;
    position: relative;
    width: 100%;
    border-radius: 15px;
}

.timeline-content {
    padding: 5px 20px 0 20px;

}

.timeline>li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li .posted-date {
    position: relative;
    text-align: center;
    background-color: #fff;
    left: 20px;
}


.timeline>li .posted-date .month {
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    display: block;
    color: #2c3e50;
    top: 0;
    float: left;
}

.timeline>li.timeline-inverted>.timeline-panel {
    float: right;
    text-align: left;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li:last-child {
    margin-bottom: 0;
}

.timeline-heading .timeline-heading h3 {
    font-size: 20px;
    line-height: 28px;
}

.timeline-heading span {
    display: block;
    font-weight: 700;
    margin-bottom: 5px;
}



@media(min-width:992px) {
    .timeline:before {
        left: 50%;
    }

    .timeline>li {
        margin-bottom: 15px;
        min-height: 100px;
    }

    .timeline>li .posted-date {
        position: absolute;
        text-align: center;
        background-color: #fff;
    }

    .timeline>li .timeline-panel {
        float: left;
        width: 43%;
        text-align: right;
        border: 1px solid #eee;
        position: relative;
    }

    .timeline-content {
        position: relative;
        padding: 24px;
        background-color: #fff;
        -webkit-transition: all 400ms;
        -moz-transition: all 400ms;
        -o-transition: all 400ms;
        transition: all 400ms;
        border-radius: 15px;
    }

    .timeline>li .timeline-content:hover {
        background: #7ECBFA;
        color: #fff;
    }

    .timeline-content:hover .timeline-bg p {
        background-color: #fff;
        color: #7ECBFA;
        font-weight: 700;
    }

    .timeline>li .timeline-panel::before,
    .timeline>li.timeline-inverted .timeline-panel::before {
        content: "";
        top: 25px;
        position: absolute;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
    }

    .timeline>li .timeline-panel::before {
        left: 100%;
        border-left: 12px solid #ECECEC;
        -webkit-transition: all 400ms;
        -moz-transition: all 400ms;
        -o-transition: all 400ms;
        transition: all 400ms;
    }

    .timeline>li .timeline-panel:hover::before {
        border-left: 12px solid #7ECBFA;
    }

    .timeline>li.timeline-inverted .timeline-panel::before {
        right: 100%;
        border-right: 12px solid #ECECEC;
        -webkit-transition: all 400ms;
        -moz-transition: all 400ms;
        -o-transition: all 400ms;
        transition: all 400ms;
    }

    .timeline>li.timeline-inverted .timeline-panel:hover::before {
        border-right: 12px solid #7ECBFA;
        border-left: 0;
    }

    .timeline>li .timeline-panel::after,
    .timeline>li.timeline-inverted .timeline-panel::after {
        content: "";
        top: 25px;
        position: absolute;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
    }

    .timeline>li .timeline-panel::after {
        left: 100%;
        margin-left: -2px;
        border-left: 12px solid #FFFFFF;
        -webkit-transition: all 400ms;
        -moz-transition: all 400ms;
        -o-transition: all 400ms;
        transition: all 400ms;
    }

    .timeline>li .timeline-panel:hover::after {
        border-left: 12px solid #7ECBFA;
    }

    .timeline>li.timeline-inverted .timeline-panel::after {
        right: 100%;
        margin-right: -2px;
        border-right: 12px solid #FFFFFF;
        -webkit-transition: all 400ms;
        -moz-transition: all 400ms;
        -o-transition: all 400ms;
        transition: all 400ms;
    }

    .timeline>li.timeline-inverted .timeline-panel:hover::after {
        border-right: 12px solid #7ECBFA;
        border-left: 0;
    }

    .timeline>li .posted-date {
        left: 50%;
        width: 120px;
        margin-left: -60px;
        margin-top: 28px;
    }

    .timeline>li .posted-date .month {
        float: none;
    }

    .timeline-bg p {
        background-color: #7ECBFA;
        /* 원하는 배경색 */
        border-radius: 30px;
        /* 모서리 둥글게 */
        padding: 2px 20px;
        /* 안쪽 여백 */
        display: inline-block;
        color: #fff;
        font-size: 12px;
        font-weight: 700;
    }

}

/* ★ 스킬 섹션 */
/* === Skill Section === */

.skills-section .section-title {
    color: #7ECBFA;
    margin-bottom: 25px;
}

.skill-title {
    width: 25%;
    float: left;
}

.skill-title h3 {
    font-size: 16px;
    font-weight: 400;
    margin-top: -6px;
    text-transform: capitalize;
    text-align: center;
}

.title-starry {
    position: relative;
}

.star4 {
    width: 58px;
    position: absolute;
    top: -50px;
    left: 180px;
}

.star5 {
    width: 15px;
    position: absolute;
    top: 20px;
    right: 40px;
}


/* progress-bar */

.skill-progress {
    position: relative;
}

.progress {
    height: 10px;
    margin-bottom: 40px;
    background-color: #EBEBEB;
    border-radius: 15px;
    box-shadow: none;
    width: 75%;
}

.progress-bar {
    background-color: #7ECBFA;
    border-radius: 15px;
}

.progress-bar span {
    position: absolute;
    top: -20px;
    right: 15px;
    color: #333;
}

.progress .progress-bar.six-sec-ease-in-out {
    -webkit-transition: width 2s ease-in-out;
    -moz-transition: width 2s ease-in-out;
    -o-transition: width 2s ease-in-out;
    transition: width 2s ease-in-out;
}


.skill-chart h3 {
    margin: 95px 0 20px;
    color: #7ECBFA;
}

.moreskill-chart h3 {
    margin: 90px 0;
    letter-spacing: -1px;
}

.our-progress {
    margin: 10px 0 30px;
}

.progress-percent {
    margin-left: auto;
    margin-right: auto;
}

.our-progress h3 {
    font-weight: 400;
    margin-bottom: 5px;
}



/* === Chart CSS  === */
.chart {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 140px;
    height: 140px;
    margin: 40px auto;
    text-align: center;
}

.chart canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.percent {
    display: inline-block;
    margin: 0 auto;
    z-index: 2;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: #7ECBFA;
}

.percent:after {
    content: '%';
}

.chart-text span {
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    display: block;
    margin-top: 20px;
}

/*.percent:after {content: '%';margin-left: 0.1em;font-size: .8em;}*/
.angular {
    margin-top: 100px;
}

.angular .chart {
    margin-top: 0;
}

.chart .chart-text h3 {
    font-size: 22px;
}



/*PopUp fade effect*/
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
    opacity: 0;
    -webkit-backface-visibility: hidden;
    /* ideally, transition speed should match zoom duration */
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
    opacity: 0;
}


/* === Footer Wrapper === */
.footer-wrapper {
    background: #7ECBFA;
    padding: 36px 0;
    color: #fff;

}

.copyright p {
    margin: 0;
}


/* ---------------------------------------------- /*
 * Scroll to top
/* ---------------------------------------------- */

.scroll-up {
    position: fixed;
    bottom: 2em;
    right: 3em;
    display: none;
    z-index: 1002;
}

.scroll-up a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ffffff;
    color: #7ECBFA;
    font-size: 25px;
    border: 1px solid #7ECBFA;
    text-align: center;
}

.scroll-up a:hover,
.scroll-up a:active {
    background-color: #7ECBFA;
    color: #ffffff;
    border: 1px solid #ffffff;
}

.scroll-up a i {
    transform: translateY(-1px);
    /* 아이콘 수직 중앙 정렬 보정 */
}

/* ---------------------------------------------- /*
 * Mouse animate icon
/* ---------------------------------------------- */

.mouse-icon {
    position: absolute;
    left: 50%;
    bottom: 40px;
    border: 2px solid #7ECBFA;
    border-radius: 16px;
    height: 50px;
    width: 30px;
    margin-left: -17px;
    display: block;
    z-index: 10;
    backdrop-filter: brightness(1);
}

.mouse-icon .wheel {
    -webkit-animation-name: drop;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
    animation-name: drop;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

.mouse-icon .wheel {
    position: relative;
    border-radius: 10px;
    background: #7ECBFA;
    width: 4px;
    height: 10px;
    top: 4px;
    margin-left: auto;
    margin-right: auto;
}

@-webkit-keyframes drop {
    0% {
        top: 5px;
        opacity: 0;
    }

    30% {
        top: 10px;
        opacity: 1;
    }

    100% {
        top: 25px;
        opacity: 0;
    }
}


@keyframes drop {
    0% {
        top: 5px;
        opacity: 0;
    }

    30% {
        top: 10px;
        opacity: 1;
    }

    100% {
        top: 25px;
        opacity: 0;
    }
}

/* ---------------------------------------------- /*
 * Preloader
/* ---------------------------------------------- */

#tt-preloader {
    background: #FFF;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
}

#pre-status,
.preload-placeholder {
    background-image: url(../images/preloader.gif);
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    left: 50%;
    margin: -100px 0 0 -100px;
    position: absolute;
    top: 50%;
    width: 200px;
}

.preload-placeholder {
    background: none;
    left: 0;
    margin: 0;
    text-align: center;
    top: 65%;
}



/* === Home Page Two === */

#homeTwo {
    background: url(../images/home-2.jpg) no-repeat center center;
    background-color: #222222;
    background-size: cover;
    padding: 0;
    position: relative;
}

/* ★ 어바웃 섹션 : 시작 */
/* === About Section === */


.about-section .section-title {
    margin-bottom: 68px;
}


@keyframes floatUpDown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
        /* 위로 떠오름 */
    }

    100% {
        transform: translateY(0);
        /* 다시 내려옴 */
    }
}


.butterfly3 {
    position: absolute;
    width: 152px;
    top: 68%;
    left: -3%;
    animation: floatUpDown 3s ease-in-out infinite;
}

.short-info {
    margin-bottom: 40px;
}

.short-info h3 {
    font-size: 32px;
    line-height: 1.375;
    margin-bottom: 30px;
}

.hobby-list-wrap h3 {
    margin-bottom: 45px;
}

.short-info p {
    line-height: 24px;
}


/*SERVICE SECTION*/
.service-section {
    background: url(../../assets/images/service-bg.jpg) no-repeat center center;
    background-size: cover;
    padding: 120px 0;
}

.service-section h2 {
    color: #fff;
}

.service-wrap {
    padding: 40px 0
}

.service-box {
    text-align: center;
    position: relative;
    width: 180px;
    height: 180px;
    margin: 0 auto;
}

.service-box::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    border: 1px solid #fff;
    width: 180px;
    height: 180px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    border-radius: 15px;
}

.service-box i {
    font-size: 40px;
    color: #fff;
    line-height: 100px;
    z-index: 100;
    position: relative;
}

.service-box h3 {
    font-size: 18px;
    line-height: 18px;
    color: #fff;
    z-index: 100;
    position: relative;
}

.service-box:hover.service-box::after {
    background: #fff;
    border: 1px solid transparent;
}

.service-box:hover i,
.service-box:hover h3 {
    color: #2c3e50;
}

.service-box i,
.service-box h3,
.service-box::after {
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
}


/* 인터뷰 섹션 */

#interview {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    /* 배경속성 */
    background-image: url('../images/interview_bg.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

#interview .section-title {
    color: #fff;
    margin-bottom: 65px;
}

.interview-box {
    background-color: #fff;
    border-radius: 15px;
    padding: 30px 40px;
    max-height: auto;
    min-height: 100px;
    margin-bottom: 40px;
}

.interview-wrapper {
    position: relative;
}

@keyframes etherealGlow {

    0%,
    100% {
        filter: blur(0px) brightness(1);
        transform: translateY(0px);
    }

    50% {
        filter: blur(0px) brightness(1.6);
        transform: translateY(-8px);
    }
}

.star2 {
    position: absolute;
    width: 108px;
    left: -180px;
    top: 20%;
    animation: etherealGlow 4s ease-in-out infinite;
}

.star3 {
    position: absolute;
    width: 140px;
    right: -50px;
    top: -5%;
    animation: etherealGlow 4s ease-in-out infinite;
}

.interview-box .answer {
    margin-top: 10px;
    line-height: 1.6;
}

.question {
    font-weight: 600;
    font-size: 18px;
    color: #7ECBFA;
}

.butterfly4 {
    position: absolute;
    top: 90%;
    left: 85%;
    pointer-events: none;
    width: 186px;
    z-index: 40;
}


/*HOMEPAGE TWO*/
#homeTwo {
    position: relative;
}

#homeTwo:before {
    content: "";
    background-color: rgba(26, 30, 35, 0.90);
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
}

.home-version-two {
    z-index: 0;
    overflow: hidden;
}

.home-version-two::before {
    z-index: -100;
}

.personal-info {
    color: #fff;
    padding: 0 0 0 15px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
}

.personal-info h1 {
    font-size: 60px;
    line-height: 80px;
    margin-bottom: 16px;
}

.personal-info h1 span {
    color: #68c3a3;
}

.personal-info p {
    margin-bottom: 40px;
}

.video-introducing {
    background: url(../images/video-bg.jpg) no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
    min-height: 390px;
    border: 5px solid #FFF;
    padding: 5px;
    box-shadow: 0 0px 0px 1px #eee;
}

/* 흘러가는 문구 */

@keyframes scroll-left {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(calc(-100% + 100vw));
    }
}

.rolling-banner {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    padding: 10px 0;
    border-top: 2px solid #7ECBFA;
}

.rolling-track {
    display: inline-flex;
    align-items: center;
    gap: 24px;
    animation: scroll-left 130s linear infinite;
    font-size: 16px;
    color: #7ECBFA;
}

.svg-icon svg {
    height: 18px;
    width: auto;
    fill: #fff;
    vertical-align: text-bottom;
    margin: 0 20px;
}

html {
    scroll-behavior: smooth;
}

/* 스크롤바 */

/* 전체 스크롤바 */
::-webkit-scrollbar {
    height: 8px;
    /* 가로 스크롤 높이 */
}

/* 스크롤바 트랙 (배경) */
::-webkit-scrollbar-track {
    background: #fafafa;
    /* 배경색 또는 투명 */
}

/* 스크롤바 핸들 (움직이는 부분) */
::-webkit-scrollbar-thumb {
    background-color: #7ECBFA;
    /* 색상 지정 */
    border-radius: 10px;
    /* 둥근 모서리 */
    border: 2px solid transparent;
    /* 여백처럼 보이게 */
    background-clip: padding-box;
    /* 안쪽만 색 채움 */
}

/* 마우스 hover 시 효과 */
::-webkit-scrollbar-thumb:hover {
    background-color: #55b4f0;
}
